{% extends "base.html" %}

{% block title %}Talk with me!{% endblock %}

{% block body %}

<div class="text-center mb-4">
    <h2>Talk with me! </h2>
</div>

{% if error != None %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

<form action="{{ url_for('add') }}" method="post">
    <div class="mb-3">
        {% if user_id == None %}
            <label for="exampleFormControlInput1" class="form-label">Email address:</label>
            <input type="email" name="email" class="form-control {% if error == 1 %}is-invalid{% endif %}" id="exampleFormControlInput1" placeholder="name@example.com" value="{{ email }}">
            <div class="invalid-feedback">
                Please provide your email.
            </div>
            <small class="form-text text-muted">We won't share your email with anyone else or use it for sending spam.</small>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Story:</label>
        <textarea type="text" name="story" class="form-control {% if error == 2 %}is-invalid{% endif %}" id="exampleFormControlTextarea1" rows="3">{{ story }}</textarea>
        <div class="invalid-feedback">
            Please provide the text of your story.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

{% endblock %}
