{% extends "base.html" %}

{% block title %}Music | {% endblock %}

{% block body %}
<div class="container">
    <h1>Music</h1>
    <div id="music-player"></div>
</div>

<script>
    // Load the IFrame Player API code asynchronously
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // Replace the 'player' div with an <iframe> and YouTube player after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('music-player', {
            height: '360',
            width: '640',
            videoId: 'dwH0SAxW7U4', // Replace with the ID of the video you want to play
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
            // Do something when the video ends
        }
    }
</script>
{% endblock %}
